<template>
  <v-card>
    <v-card-title>
      Inventory
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Product search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="products"
      :search="search"
    >
      <template v-slot:item.availablequantity="{ item }">
        <v-text-field
          type="number"
          prefix="Qty"
          v-model="item.availablequantity"
        ></v-text-field>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: 'Item code',
            align: 'start',
            value: 'itemcode',
          },
          { text: 'Product', value: 'product' },
          {
            text: 'Package',
            filterable: false,
            value: 'package'
          },
          {
            text: 'Available units',
            filterable: false,
            value: 'availableunits'
          },
          { text: 'Category', value: 'category' },
          {
            text: 'Last updated',
            filterable: false,
            value: 'lastupdated'
          },
          {
            text: 'Edit available quantity',
            filterable: false,
            value: 'availablequantity'
          },
        ],
        products: [
          {
            itemcode: 'ACC1',
            product: 'Apple granny smith',
            package: '40 LB',
            availableunits: 3638066,
            category: 'Fruits',
            lastupdated: '2021-02-05 08:28:36',
            availablequantity: 3638066
          },
          {
            itemcode: 'ACC1',
            product: 'Pineapple crownless',
            package: '7 CT',
            availableunits: 6462020,
            category: 'Fruits',
            lastupdated: '2021-02-03 19:49:33',
            availablequantity: 3638066
          },
          {
            itemcode: 'ACC1',
            product: 'Banana green',
            package: '8 CT',
            availableunits: 8664948,
            category: 'Fruits',
            lastupdated: '2021-02-02 19:17:15',
            availablequantity: 3638066
          },
          {
            itemcode: 'ACC1',
            product: 'Banana green tip',
            package: '40 LB',
            availableunits: 2592335,
            category: 'Fruits',
            lastupdated: '2021-02-02 09:46:33',
            availablequantity: 3638066
          },
        ],
      }
    },
  }
</script>
