<template>
  <v-app>
    <v-main>
      <InventoryTable/>
    </v-main>
  </v-app>
</template>

<script>
import InventoryTable from './components/InventoryTable';

export default {
  name: 'App',

  components: {
    InventoryTable,
  },

  data: () => ({
    //
  }),
};
</script>
